/* Title: autocomplete.css
Author: Chen Li
Date: 5/23/2020
Description: Give autocomplete a text box that can be highlighted
The code is lifted and modified from professor Chen's example.
For educational purposes in Cs 122b only.
Link: https://github.com/UCI-Chenli-teaching/cs122b-spring20-project4-autocomplete-example
*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

